body {
    background-color: black;
}

h1, h2 {
    text-align: center;
    color: white;
}

#title {
    /*font-family: constantia, georgia, serif;*/
    font-family: 'Ubuntu', constantia, georgia, serif;
    font-size: 36pt;
    line-height: 4em;
}

#answer {
    font-family: 'Ubuntu', candara, verdana, sans-serif;
    font-size: 48pt;

}

.yes {
    color: #8ae234;
}

.no {
    color: #ef2929;
}